@mixin gold-button {
  background-color: $primary-color-gold;
  transition: background-color 250ms ease-in;
}

@mixin blue-button {
  background-color: $primary-color-blue;
  color: $white;
}

button{
  display: block;
  min-width: 200px;
  padding: 0px 40px;
  height: 50px;
  border-radius: 3px;
  font-weight: 600;
  border: 0px;
  font-size: inherit;
  font-family: $font-family-heading;
  cursor: pointer;
  background-color: $primary-color-light-grey;

  &:focus{
    border: 0;
    outline: 0;
  }

  &:hover{
    transition: background-color 250ms ease-in;
    background-color: $primary-color-gold;
  }

  &.button--active{
    @include gold-button;
  }
}

.button--gold{
  @include gold-button;


    &:hover{
      background-color: $primary-color-blue;
      color: #fff;
    }
}

.button--blue{
  @include blue-button;
}
