$input-label-width: 120px;
$input-block-padding: 15px;

.input-block__container{
  margin-bottom: 25px;
}

.input-block__helper{
  text-align: left;
  margin-top: 5px;
  margin-bottom: -10px;
  color: #c1c1c1;
}

.input-block{
  width: 100%;
  border: 1px solid $border-color-on-light;
  justify-content: space-between;
  display: flex;
  border-radius: 3px;


  &:focus{

  }
  label {
    background-color: $primary-color-light-grey;
    transition: background-color 250ms ease-in;
    border-radius: 0px;
    text-align: center;
    font-weight: 600;
    line-height: 48px;
    display: block;
    width: 120px;
  }
}

.input-block--focused{
  label{
    background-color: $primary-color-gold;
  }
}

.input-block--error {
  // label{
  //   background-color: $alert-color !important;
  //   color: $white;
  //   border-radius: 3px 0px 0px 3px;
  //   transition: 0s;
  // }

}

.input-block__error{
  text-align: left;
  color: $alert-color;
  position: absolute;
  left: 100%;
  width: 100%;
  margin-top: -35px;
  margin-left: 20px;

  &::first-letter{
    text-transform: capitalize;
  }
}

.input-block__content {
  width: calc(100% - 120px);
  position: relative;
}

.input-block__emoji{
  position: absolute;
  height: 0;
  font-size: 17px;
  line-height: 52px;
  right: 10px;
  top: 0;
}

.input-block__content__option{

}


input{
  font-family: inherit;
  font-size: 15px;
  border: 0px;
  padding-left: 20px;
  width: 100%;

  &[type='text'],
  &[type='password'],
  &[type='email']{
    line-height: 48px;
  }

  &:focus{
    outline:0;
    border: 0px;
  }
}
