.pagefit--center {
  max-width: 1024px;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

.object--center,
.pagefit--center {
  margin: 0 auto;
  position: relative;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--bold{
  font-weight: 700;
}
