// colors
$white: #FFFFFF;
$primary-color-blue: #232648;
$primary-color-gold: #FFD344;
$primary-color-dark-grey: #2C333D;
$primary-color-grey: #A4A6AC;
$primary-color-light-grey: #E4E4E4;

$secondary-color-blue-1: #282B53;
$secondary-color-yellow-1: #FFDE70;


$background-color-dark: $primary-color-blue;
$background-color-grey: $primary-color-grey;
$background-color-white: $white;

$border-color-on-dark: $primary-color-grey;
$border-color-on-light: $primary-color-light-grey;

$alert-color: #FF4444;

//fonts
$font-family-heading: "League Spartan";
$font-family-default: "Roboto" ;

$font-size-small: 10px;
$font-size-default: 13px;
