.login{
  margin-top: 60px;

  form{
    margin-top: 30px;
  }

  button{
    margin-top: 30px;
  }

  h3{
    margin-bottom: 30px;
  }
}

.login__links{
  margin-top: 15px;

  a {
    margin: 5px auto;
    display: inline-block;
  }
}
