@import '_base';

.apply {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 58px;

  h4 {
    margin: 20px;
    font-weight: 500;
  }

  button{
    font-family: inherit;
    min-width: auto;
    font-size: $font-size-default;
  }
}

sidebar{
  width: 300px;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  box-sizing: border-box;
}


.apply__sidebar__header{
  background: $primary-color-gold;
  padding: 20px;
  font-weight: 700;
}

.apply__status {
  h4 {
    margin: 0px;
    margin-bottom: 10px;
  }

  padding: 20px;
}

.apply__status__value{
  text-transform: capitalize;
  margin: 14px 0px 0px;
  border-radius: 3px;
  font-weight: 300;
}

.apply__submit-button{
  font-size: $font-size-default;
  padding: 0px 20px;
  line-height: 20px;
  margin: 20px;
  width: calc(100% - 40px);

  &:hover {
    color: $primary-color-dark-grey;
  }
}

.apply__status__info {
  margin-top: 10px;
  color: $primary-color-light-grey;
}

@mixin appStatusBar{
  width: 3px;
  height: 100%;
  left: 5px;
  position: absolute;
  top:0px;
}

.apply__status__steps{
  position: relative;
}

.apply__step__container{
  display: flex;
  position: relative;
  padding: 20px;
  cursor: pointer;


  &::before{
    @include appStatusBar;

    content: '';
    background-color: $primary-color-light-grey;
  }

  &.apply__step__container--active {
    background-color: $secondary-color-grey-1;
  }

  &.apply__step__container--active::before{
    background-color: opacify($primary-color-gold, 0.5);
  }

  &:hover:not(.apply__step__container--active)::before{
    background-color: opacify($primary-color-gold, 0.5);
  }

}

.apply__step__container__bar{
  @include appStatusBar;

  background-color: $primary-color-gold;
  transition: top 500ms ease-in;
  z-index: 9;
  height: 78px;
}

@for $i from 1 through 4 {
  .apply__step__container__bar--#{$i} {
    top: 75px * ($i - 1);
  }
}


.apply__step__value {
  width: 36px;
  height: 36px;
  position: relative;
  border: 2px solid $primary-color-light-grey;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: $font-size-tiny;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border-color:$primary-color-gold;
    border-style: solid;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    -webkit-transition: clip 0.5s ease-in;
     -moz-transition: clip 0.5s ease-in;
          transition: clip 0.5s ease-in;
  }

  &::after{
    position: absolute;
    transform: rotate(180deg);
  }
}

.apply__step__value--error {
  &::after,
  &::before {
    border-color: $alert-color;
  }
}

@for $i from 0 through 50 {
  $portion: ((($i) / 50) * 36) + px;

  .apply__step__value--#{$i} {
    &::after{
      clip: rect(0px, 18px, $portion, 0px);
    }
    &::before{
      clip: rect(0px, 0px, 0px, 0px);
    }
  }
}

@for $i from 51 through 100 {
  $portion: ((($i - 50) / 50) * 36) + px;

  .apply__step__value--#{$i} {
    &::after{
      clip: rect(0px, 18px, 36px, 0px);
    }
    &::before{
      clip: rect(0px, 18px, $portion, 0px);
    }
  }
}

.apply__step__name {
  font-weight:500;
}

.application{
  padding: 0px 20px;
  max-width: 500px;
  box-sizing: border-box;
  width: 100%;
}

.application__title{
  margin: 20px 0px 0px;
  font-weight: 300;
  font-size: 24px;
}

.application__description {
  line-height: 2;
  margin: 10px 0px 25px 0px;
}

.apply__step__description {
  font-size: $font-size-small;
}

.apply__step__content {
  margin-left: 15px;
}


content{
  width: calc(100% - 300px);
  height: 100%;
  padding: 0px 0px 30px;
  display: block;
  overflow-y: auto;
  box-sizing: border-box;
}

.apply__submit-button--error {
  background-color: $alert-color;
  color: #fff;
}

.apply__submit-notification{
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  padding: 0px 25px;
}

.apply__submit-button--submitted{
  background-color: $secondary-color-gold-1;
}

.submitted-application {
  position: fixed;
  background: #fff;
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin: -300px -300px;
  box-shadow: 1px 2px 35px 1px rgba(0,0,0,.2);
  text-align: center;
  border-radius: 3px;

  @include animation('fadein 400ms forwards');
}

.submitted-application__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 8;

  @include animation('fadein 250ms forwards');
}

.submitted-application__gif {
  background: url('https://media4.giphy.com/media/RDbZGZ3O0UmL6/giphy.gif');
  width: 100%;
  height: 50%;
  margin: 0px;
  background-position: 50%;
  background-size: cover;
}

button {
  &.button--go-back,
  &.button--submit-application-in-text{
    display:none;

  }
}

.submitted-application__buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.submitted-application__content {
  padding: 40px;
  height: 300px;
  position: relative;

  h1 {
    margin: 0px;
  }

}

@media (max-width: 600px) {
  content {
    width: 100%;
    margin-bottom: 100px;
  }

  sidebar {
    left: 0px;
    position: fixed;
    background: #fff;
    z-index: 9;
    height: 60px;
    height: 100px;
    bottom: 0px;
    width: 100%;

    .apply__sidebar__header {
      display: none;
    }

    .apply__status {
      display: flex;
      background-color: #ffd344;
      font-size: 13px;
      justify-content: space-between;
      padding: 5px 20px;

      > * {
        margin: 0px;
      }
    }

    .apply__status__steps__container {
      h4 {
        display: none;
      }

    }

    .apply__step__container__bar {
      display: none;
    }

    .apply__status__steps {
      display: flex;
    }

    .apply__step__container {
      width: 25%;
      display: block;
      padding: 5px 0px 9px;

      &::before{
        height: 3px;
        left: 0px;
        width: 100%;
        bottom: 0px;
        top: auto;
      }
    }

    .apply__step__content {
      font-weight: 400;
      text-align: center;
      font-size: 11px;
      margin: 0px;
    }

    .apply__step__value {
      margin: 5px auto 2px;
    }

    .apply__step__description {
      display: none;
    }

  }

  .application {
    margin-bottom: 130px;

    .input-block{
      margin: 0px;
      width: 100%;
    }

    button {
      width: 100%;

      &.button--go-back,
      &.button--submit-application-in-text{
        display: block;
        margin-top: 20px;
        padding: 0px;
      }
    }

  }

  .submitted-application {
    width: 100%;
    height: calc(100% - 50px);
    left: 0px;
    top: 50px;
    overflow-y: scroll;
    margin: 0px;
    box-shadow: none;
  }

  .submitted-application__content {
    height: auto;
  }

  .submitted-application__buttons {
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    button:nth-child(1) {
      margin-bottom: 20px;
    }
  }



}
