@import '../dist/scss/resources/index.scss';

header {
  padding: 20px 0px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fff;


  a {
    margin: 0px 15px;
    position: relative;

    &.header__link--active::before{
      @include link--active;
    }
  }

  padding: 20px;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.10);

  .header__logo-only-copy{
    display:none;
  }
  .header__logo-with-copy{
    display: block;
    float: left;

    .logo{
      height: 20px;
      background-size: auto 20px;
      width: 30px;
      position: absolute;
      margin-top: -1px;
    }

    a {
      margin-left: 30px;
      font-weight: 500;
    }
  }

}

.header__nav--center{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}



.header__logo-with-copy{
  display: none;
}



.header--at-path-home {
  top: -60px;

  @include animation('show_header 1s forwards 4s')
}
