@import '../dist/scss/resources/index.scss';

header {
  padding: 20px 0px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fff;

  nav {
    white-space: nowrap;
  }

  a {
    margin: 0px 15px;
    position: relative;

    &.header__link--active::before{
      @include link--active;
    }
  }

  padding: 20px;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.10);

  .header__logo-only-copy{
    display:none;
  }
  .header__logo-with-copy{
    display: block;
    float: left;

    .logo{
      height: 20px;
      background-size: auto 20px;
      width: 30px;
      position: absolute;
      margin-top: -1px;
    }

    a {
      margin-left: 30px;
      font-weight: 500;
    }
  }

}

.header__nav--center{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.header__logo-with-copy {
  display: none;
}

.header--at-path-home:not(.header--cull-animation) {
  top: -60px;

  @include animation('show_header 1s forwards 4s')
}

.header__hamburger-menu {
  right: 25px;
  top: 21px;
  display: none;
  border: 2px solid #fff;
  box-sizing: content-box;
  border-width: 7px 0px;

  &,
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: $primary-color-blue;
    border-radius: 10px;
    cursor: pointer;
  }

  &::before {
    margin-top: -8px;
  }

  &::after {
    margin-top: 8px;
  }

}


.header__mobile-menu {
  pointer-events: all;
  opacity: 0;
  transition: all .25s ease-in;
  position: fixed;
  height: calc(100% - 63px);
  width: 100%;
  top: 63px;
  z-index: 9;
  left: 0px;
  background: rgba(255, 255, 255, 0.90);

  @include animation('fadein 250ms forwards');

  nav {
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    position: relative;
    transform: translate(0);
  }

  a {
    display: block;
    padding: 20px;
    font-size: 1.5em;
    width: 100%;
    margin: 0px;

    &::before {
      display: none;
    }
  }
}


@media (max-width: 950px) {
  .header__nav--center {
    right: 290px;
    left: auto;
    transform: translate(0,0);
  }
}

@media (max-width: 800px) {
  header {
    > nav {
      display: none;
    }
  }

  .header__hamburger-menu {
    display: block;
  }
}
