@import '_base';


html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color-white;
  font-family: $font-family-default;
  font-size: $font-size-default;
  // overflow-y: hidden;
  // @include animation('startscroll 0s forwards 4s');
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@import 'signup';
@import 'home';


// UI for partials that aren't the header
.hackathon-project-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0,0,0,.2);
  background-size: 62px;
  background-position: 50%;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;

  &:hover::after{
    opacity: 1;
    bottom: -40px;
  }

  &::after{
    content: attr(name);
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.1), 1px 1px 4px rgba(0,0,0,.1);
    width: 100px;
    position: absolute;
    text-align: center;
    font-size: $font-size-small;
    opacity: 0;
    transition: all 250ms ease-in;
    color: $primary-color-blue;
    font-weight: 700;
    bottom: -30px;
  }
}
