@import '_base';


html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color-white;
  font-family: $font-family-default;
  font-size: $font-size-default;
  // overflow-y: hidden;
  // @include animation('startscroll 0s forwards 4s');
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@import 'signup';
@import 'home';
