
.logo{
  background-image: url('./logo.png');
  width: 14px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 49px;
  height: 102px;
}

.logo--large{

}
